@CHARSET "UTF-8";

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	/*width: whatever width you want*/;
}

table.border {
	border: none;
	border-collapse: collapse;
}

table.border td, table.border th {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

table.border td, table.border th {
	border-bottom: solid 1px #ddd;
}

table.border td:first-child, table.border th:first-child {
	border-left: none;
}

table.border td:last-child, table.border th:last-child {
	border-right: none;
}

#uploadfile {
	width: 15px;
}
#uploadfile::-webkit-file-upload-button {
	visibility: hidden;
	display: none;
}

#uploadfile::before {
	font-family: FontAwesome;
	content: "\f093";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
/* 	padding: 5px 8px; */
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: black; }
::-moz-placeholder { /* Firefox 19+ */ color: black; }
:-ms-input-placeholder { /* IE 10+ */  color: black; }
:-moz-placeholder { /* Firefox 18- */  color: black; }



